footer {
  height: 100%;
  padding: 20px;
  align-items: center;
  display: flex;
  flex-flow: row wrap;

  a {
    text-decoration: none;
    background-color: transparent;
  }

  .flex-spacer {
    flex-grow: 1;
  }
}