.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.content {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;

  app-project-search-card {
    height: 250px;
    width: calc(33% - 11px);
  }
}