app-navbar {
  height: 60px;
  display: flex;
  flex-flow: column;
}

#page {
  height: calc(100% - 60px);
  overflow-y: auto;

  app-footer {
    height: 100px;
    display: flex;
    flex-flow: column;
  }

  main {
    min-height: calc(100% - 300px);
    padding: 100px 230px;
    display: block;
    text-align: left;
  }
}