@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($color-config) {
  $primary-warn: map.get($color-config, 'warn');

  app-sign-in-dialog .connection-error-message {
    color: mat.get-color-from-palette($primary-warn, 500);
  }
}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);

  @if $color-config !=null {
    @include color($color-config);
  }
}