<h1 mat-dialog-title>Se connecter</h1>
<form [formGroup]="form" (ngSubmit)="onValid()">
    <div mat-dialog-content>
        <p *ngIf="callbackConnectionData.connectionError" class="connection-error-message">
            Identifiants de connexion non reconnus
        </p>
        <mat-form-field appearance="outline">
            <mat-label>E-mail</mat-label>
            <input matInput type="email" formControlName="email"
                [readonly]="callbackConnectionData.connectionInProgress" required>
            <mat-error *ngIf="form.controls.email.status == 'INVALID'">Champ invalide</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Mot de passe</mat-label>
            <input matInput type="password" formControlName="password"
                [readonly]="callbackConnectionData.connectionInProgress" required>
            <mat-error *ngIf="form.controls.password.status == 'INVALID'">Champ invalide</mat-error>
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button color="primary" type="submit"
            [disabled]="!form.valid || callbackConnectionData.connectionInProgress">Valider</button>
    </div>
</form>