<h1 mat-dialog-title>Se connecter</h1>
<div mat-dialog-content (keydown.enter)="onValid()" (keyup)="onKeyUpTrim()">
    <mat-form-field appearance="outline">
        <mat-label>E-mail</mat-label>
        <input matInput type="email" [(ngModel)]="user.email" [formControl]="emailFormControl" required>
        <mat-error>Veuillez entrer un nom d'utilisateur</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Mot de passe</mat-label>
        <input matInput type="password" [(ngModel)]="user.password" [formControl]="passwordFormControl" required>
        <mat-error>Veuillez entrer un mot de passe</mat-error>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="onValid()">Valider</button>
</div>