<mat-dialog-content>
    <h1 mat-dialog-title>Modifier le profil</h1>
    <form [formGroup]="profileFormGroup" autocomplete="off" class="d-flex flex-column">
        <div class="d-flex flex-row g-4">
            <mat-form-field appearance="outline">
                <mat-label>Prénom</mat-label>
                <input formControlName="firstName" type="text" matInput>
                <mat-error *ngIf="profileFormGroup.controls.firstName.status === 'INVALID'">Champ invalide</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Nom</mat-label>
                <input formControlName="lastName" type="text" matInput>
                <mat-error *ngIf="profileFormGroup.controls.lastName.status === 'INVALID'">Champ invalide</mat-error>
            </mat-form-field>
        </div>
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input formControlName="email" type="email" matInput>
            <mat-error *ngIf="profileFormGroup.controls.email.status === 'INVALID'">
                {{ profileFormGroup.controls.email.hasError('apiError')?
                profileFormGroup.controls.email.errors?.['apiError']:
                'Champ invalide'}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Téléphone</mat-label>
            <input formControlName="phone" type="text" matInput>
            <mat-error *ngIf="profileFormGroup.controls.phone.status === 'INVALID'">Champ invalide</mat-error>
        </mat-form-field>
    </form>
    <mat-divider class="mb-4"></mat-divider>
    <form [formGroup]="passwordFormGroup" autocomplete="off" class="d-flex flex-column">
        <h2 mat-dialog-title>Modifier le mot de passe</h2>
        <mat-form-field appearance="outline">
            <mat-label>Ancien mot de passe</mat-label>
            <input formControlName="oldPassword" type="password" matInput>
            <mat-error *ngIf="passwordFormGroup.controls.oldPassword.status === 'INVALID'" id="old-password"
                name="old-password" autocomplete="old-password">
                {{ passwordFormGroup.controls.oldPassword.hasError('apiError')?
                passwordFormGroup.controls.oldPassword.errors?.['apiError']:
                'Champ invalide'}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Nouveau mot de passe</mat-label>
            <input formControlName="newPassword" type="password" matInput id="new-password" name="new-password"
                autocomplete="new-password">
            <mat-error *ngIf="passwordFormGroup.controls.newPassword.status === 'INVALID'">
                {{ passwordFormGroup.controls.newPassword.hasError('apiError')?
                passwordFormGroup.controls.newPassword.errors?.['apiError']:
                'Champ invalide'}}</mat-error>
        </mat-form-field>
    </form>
    <mat-divider class="mb-1"></mat-divider>
</mat-dialog-content>
<mat-dialog-actions class="d-flex flex-row justify-content-center g-4">
    <button mat-flat-button class="submit" (click)="onSubmit()" color="primary">Valider</button>
    <button mat-flat-button class="close" (click)="onClose()">Fermer</button>
</mat-dialog-actions>