<div class="chat-wrapper d-flex flex-column border-3-primary">
    <div #messageWrapper class="message-wrapper flex-spacer p-4 pb-2 g-2">
        <div class="message left d-flex flex-column alig-items-center"
            [ngClass]="(message.author.pk === currentUserId)?'right':'left'" *ngFor="let message of messages">
            <div class="d-flex flex-row mb-2 head">
                <span class="username mat-body-2">
                    {{message.author.first_name+' '+message.author.last_name}}
                </span>
                <div class="flex-spacer"></div>
                <span class="datetime mat-caption">
                    {{parseDate(message.created_at)}}
                </span>
            </div>
            <div class="d-flex flex-row g-2 body">
                <div class="userpicture">
                    <button *ngIf="message.author.pk === currentUserId"
                        (mouseenter)="personIcon._elementRef.nativeElement.style.display = 'none'; deleteIcon._elementRef.nativeElement.style.display = ''"
                        (mouseleave)="personIcon._elementRef.nativeElement.style.display = ''; deleteIcon._elementRef.nativeElement.style.display = 'none'"
                        (click)="deleteMessage(message.pk)" mat-icon-button>
                        <mat-icon #personIcon color="accent" fontIcon="person"></mat-icon>
                        <mat-icon color="warn" [ngStyle]="{display :'none'}" #deleteIcon fontIcon="close"></mat-icon>
                    </button>
                    <mat-icon *ngIf="message.author.pk !== currentUserId" fontIcon="person">
                    </mat-icon>
                </div>
                <p class="content border-1-black p-2 flex-spacer">
                    {{message.content}}
                </p>
            </div>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="bottom d-flex flex-row p-3">
        <form (ngSubmit)="onSubmit()" [formGroup]="formGroup" class="d-flex flex-row flex-spacer">
            <mat-form-field appearance="outline" class="flex-spacer test">
                <input matInput type="text" placeholder="Message" formControlName="message" autocomplete="off">
                <button type="submit" mat-icon-button matSuffix>
                    <mat-icon fontIcon="send"></mat-icon>
                </button>
            </mat-form-field>
        </form>
    </div>
</div>