mat-card {
  height: calc(100% - 32px);
  width: calc(100% - 32px);
  display: flex;
  flex-direction: column;

  mat-card-content {
    flex: 1;
  }

  mat-card-actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}