<footer class="d-flex flex-row p-3 pl-5 pr-5 align-items-center g-2">
    <a routerLink="" class="d-flex flex-row align-items-center g-3">
        <img class="logo" src="/assets/images/logo_white.svg" alt="">
        <img class="name" src="/assets/images/name_white.svg" alt="">
    </a>
    <div class="flex-spacer"></div>

    <a routerLink="">Qui sommes-nous ?</a> -
    <a routerLink="">Mentions légales</a> -
    <a routerLink="">Conditions générales d'utilisation</a> -
    <a routerLink="">Politique de conficentialité</a> -
    <span>Copyright © 2023</span>
    <a routerLink="">Collabus.fr</a>
    <span>Tous droits réservés.</span>
    <div class="flex-spacer"></div>
    <a routerLink=""> <img class="social-network" src="/assets/images/home/facebook.svg" alt=""> </a>
    <a routerLink=""> <img class="social-network" src="/assets/images/home/twitter.svg" alt=""> </a>
    <a routerLink=""> <img class="social-network" src="/assets/images/home/linkedin.svg" alt=""> </a>

</footer>