<footer class="flex-row p-3 pl-5 pr-5 align-items-center g-3 background-color-accent color-white">
    <a routerLink="" class="flex-row align-items-center g-3">
        <img class="logo" src="/assets/images/logo_white.svg" alt="">
        <img class="name" src="/assets/images/name_white.svg" alt="">
    </a>
    <div class="flex-spacer"></div>
    <div class="flex-row g-3 flex-wrap justify-content-center">
        <a class="flex-spacer" routerLink="team">Qui sommes-nous ?</a>
        <a class="flex-spacer" routerLink="legal">Mentions légales</a>
        <a class="flex-spacer" routerLink="legal">Conditions générales d'utilisation</a>
        <a class="flex-spacer" routerLink="legal">Politique de conficentialité</a>
        <a class="flex-spacer" routerLink="">Copyright © 2023 <b>Collabus.fr</b>. Tous droits réservés.</a>
    </div>
    <div class="flex-spacer"></div>
    <a href="https://www.linkedin.com/company/collabusfr/">
        <img class="social-network" src="/assets/images/home/linkedin.svg" alt="">
    </a>

</footer>