footer {
  white-space: nowrap;
  overflow: hidden;

  a:link,
  a:visited,
  a:hover,
  a:active {
    text-decoration: none;
  }

  a {
    color: inherit;
    text-align: center;

    img.logo {
      height: 45px;
    }

    img.name {
      height: 20px;
    }
  }

  img.social-network {
    height: 45px;
    filter: brightness(0) invert(1);
  }
}