section.intro {
  div.left {
    flex: 2;

    span.title {
      font-family: 'Limelight', cursive;
    }
  }

  div.right {
    flex: 1;
    justify-content: space-between;

    a {
      border-radius: 0;
      height: 30%;
      font-weight: 500;
    }
  }
}

section.presentation {

  span.title {
    text-align: center;
  }

  mat-tab-group {
    height: calc(33.2vw);

    div.tab-content {
      div {
        flex: 1;
        overflow: hidden;

        img {
          width: 100%;
        }

        span {
          text-align: center;
        }
      }
    }
  }
}

section.contact {
  div {
    flex: 1;

    a {
      border-radius: 0;
      height: 45px;
      width: 170px;
    }

    span {
      text-align: center;
    }

    ul {
      list-style-type: none;

      li {
        span {
          font-family: 'Limelight', cursive;
        }
      }
    }
  }
}

section.project {
  span {
    text-align: center;
  }

  div.projects-wrapper {
    justify-content: space-between;


    div.project-card {
      flex: 1;

      ul {
        list-style-type: circle;
      }
    }
  }
}

section.form {
  span {
    text-align: center;
  }

  div {
    flex: 1;
  }

  div.form div.row {
    justify-content: space-evenly;

    mat-form-field,
    div.radio-button-group {
      flex: 1;
    }

    textarea {
      resize: none;
      overflow: hidden;
    }

    button {
      border-radius: 0 !important;
      height: 45px;
      width: 170px;
    }
  }
}