<section class="intro d-flex flex-row p-5 background-color-primary color-white">
    <div class="left d-flex flex-column g-5 p-5">
        <span class="title mb-0 mat-display-4">S'inspirer des talents du futur</span>
        <p class="mat-headline mb-0">
            Besoin d'un regard neuf ? De dynamiser vos projets digitaux ?
            <br />
            Donnez aux étudiants l'opportunité de développer leur expertise !
        </p>
        <p class="mat-title mb-0">
            Découvrez notre plateforme de mise en relation entre écoles et entreprises
            <br />
            qui vous permet d'intégrer des projets réels dans les cursus de formation.
        </p>
    </div>
    <div class="right d-flex flex-column p-5">
        <a mat-flat-button routerLink="school"
            class="mat-headline mb-0 background-color-white color-primary flex-row align-items-center justify-content-center">
            Je suis une école
        </a>
        <a mat-flat-button routerLink="company"
            class="mat-headline mb-0 background-color-primary color-white border-3-white flex-row align-items-center justify-content-center">
            Je suis une entreprise
        </a>
    </div>
</section>
<section class="presentation d-flex flex-column pl-5 pr-5 pt-5">
    <span class=" title mat-headline">Collabus c'est le début d'une collaboration 2.0 !</span>
    <mat-tab-group mat-align-tabs="center" class="mr-5 ml-5" (selectedIndexChange)="onTabChange($event)">
        <mat-tab>
            <ng-template mat-tab-label>
                <span class="mat-title mb-0">
                    Pour les entreprises
                </span>
            </ng-template>
            <div class="tab-content d-flex flex-row">
                <div>
                    <img src="/assets/images/home/company.jpg" alt="">
                </div>
                <div class="d-flex flex-column justify-content-center">
                    <span class="mat-headline p-5">
                        Expérimentez de nouveaux projets et aidez des étudiants à se former sur des cas réels.
                    </span>
                </div>
            </div>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <span class=" mat-title mb-0">
                    Pour les écoles
                </span>
            </ng-template>
            <div class="tab-content d-flex flex-row">
                <div>
                    <img src="/assets/images/home/school.jpg" alt="">
                </div>
                <div class="d-flex flex-column justify-content-center">
                    <span class="mat-headline p-5">
                        Valorisez vos formations, professionnalisez les élèves et gagnez en attractivité.
                    </span>
                </div>
            </div>

        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <span class="mat-title mb-0">
                    Pour les étudiants
                </span>
            </ng-template>
            <div class="tab-content d-flex flex-row">
                <div>
                    <img src="/assets/images/home/student.jpg" alt="">
                </div>
                <div class="d-flex flex-column justify-content-center">
                    <span class="mat-headline p-5">
                        Mettez à l'épreuve votre expertise sur des cas concrets et boostez votre employabilité.
                    </span>
                </div>
            </div>

        </mat-tab>
    </mat-tab-group>
</section>
<div class="mb-5 pl-5 pr-5">
    <mat-divider class="mr-5 ml-5"></mat-divider>
</div>
<section class="contact d-flex flex-row justify-content-center g-5 pr-5 pl-5 pb-3">
    <div class="d-flex flex-column pr-5 pl-5">
        <span class="mat-headline">
            Collabus c'est simple !
        </span>
        <ul class="pr-5 pl-5">
            <li class="mat-title">
                <span class="mat-display-4 mr-3">1.</span>S'inscrire sur la
                plateforme
            </li>
            <li class="mat-title">
                <span class="mat-display-4 mr-2">2.</span>Trouver une entreprise / Déposer votre projet
            </li>
            <li class="mat-title">
                <span class="mat-display-4 mr-2">3.</span>Collaborer !
            </li>
        </ul>
    </div>
    <div class="d-flex flex-row g-5 justify-content-center align-items-center pr-5 pl-5">
        <a mat-flat-button class="register d-flex align-items-center justify-content-center" routerLink="register">
            Nous rejoindre
        </a>
        <a mat-flat-button class="contact d-flex align-items-center justify-content-center"
            [routerLink]="moreInfoRouterLink">En savoir plus</a>
    </div>
</section>
<section class="project d-flex flex-column pl-5 pr-5 pt-5 background-color-primary-light">
    <span class="mat-headline">
        Les projets disponibles
    </span>
    <div class="projects-wrapper p-5 pt-4 d-flex flex-row g-5">
        <app-project-card entityName="Novacore" entityActivity="Fabrication d'équipement électronique"
            entityLocation="Nantes, Pays de la Loire" projectName="Visualité" [projectKind]="1"
            projectDescription="Visualité est un projet visant à concevoir une identité visuelle forte et cohérente pour une entreprise. Il s'agit de créer une identité de marque qui représente efficacement l'entreprise et ses valeurs, tout en étant facilement reconnaissable."
            [showButton]="false">
        </app-project-card>
        <app-project-card entityName="Skyglider" entityActivity="Services de transport aérien"
            entityLocation="Tours, Indre-et-Loire" projectName="Communiwise" [projectKind]="11"
            projectDescription="L'objectif est de définir les messages clés, les canaux de communication, les publics cibles et les tactiques les plus appropriées pour atteindre les objectifs de communication de l'entreprise. Le projet comprend une analyse approfondie de l'image de marque de l'entreprise, de sa réputation et de son positionnement sur le marché, ainsi que des études de marché pour mieux comprendre les attentes des consommateurs et des parties prenantes."
            [showButton]="false">
        </app-project-card>
        <app-project-card entityName="Techwarez" entityActivity="Vente de produits de beauté"
            entityLocation="Poitiers, Vienne" projectName="Site Builders" [projectKind]="6"
            projectDescription="Site Builders est un projet de développement d'un site web pour une entreprise. Le site web est une vitrine en ligne de l'entreprise et doit être conçu de manière à offrir une expérience utilisateur optimale, tout en respectant les normes de développement web."
            [showButton]="false">
        </app-project-card>
        <app-project-card entityName="Innovaris" entityActivity="Gestion de patrimoine immobilier"
            entityLocation="Nantes, Pays de la Loire" projectName="Market Insights" [projectKind]="13"
            projectDescription="Ce projet vise à recueillir des informations sur le marché dans lequel l’entreprise évolue. Il s'agit d'analyser les tendances, la concurrence, les segments de marché, les besoins des clients et les opportunités de croissance pour aider l'entreprise à prendre des décisions éclairées sur sa stratégie commerciale."
            [showButton]="false">
        </app-project-card>
    </div>
</section>
<section class="form d-flex flex-row pl-5 pr-5 pt-5" id="contact-form">
    <div class="form ml-5 mb-5 p-5 ">
        <form (ngSubmit)="onSubmit()" [formGroup]="formGroup">
            <div class="row d-flex flex-row g-5 mb-2">
                <mat-form-field appearance="outline">
                    <mat-label>Nom</mat-label>
                    <input matInput formControlName="lastName">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Prénom</mat-label>
                    <input matInput formControlName="firstName">
                </mat-form-field>
            </div>
            <div class="row d-flex flex-row g-5 mb-2">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" type="email">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Téléphone</mat-label>
                    <input matInput formControlName="phone" type="tel">
                </mat-form-field>
            </div>
            <div class="row d-flex flex-row g-5 mb-3">
                <mat-form-field appearance="outline">
                    <mat-label>Message</mat-label>
                    <textarea matInput formControlName="message" rows="10"></textarea>
                </mat-form-field>
            </div>
            <div class="row d-flex flex-row g-5">
                <button mat-flat-button type="submit" [disabled]="!formGroup.valid">Envoyer</button>
            </div>
        </form>
    </div>
    <div class="pl-5 pr-5 mb-5 d-flex flex-column align-items-center">
        <span class="mat-headline">
            Besoin d'informations ? Contactez-nous !
        </span>
        <p class="mat-title">
            Et collaborez avec nos écoles et entreprises partenaires.
        </p>
    </div>
</section>
