@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($color-config) {
  $palette: map.get($color-config, 'primary');

  app-home {
    section.introduction>mat-card {
      background-color: mat.get-color-from-palette($palette, 100);
      color: mat.get-color-from-palette($palette, '100-contrast');
    }

    section.presentation {
      background-color: mat.get-color-from-palette($palette, 100);
      color: mat.get-color-from-palette($palette, '100-contrast');
    }

    section.team mat-card {
      background-color: mat.get-color-from-palette($palette, 100);
    }

    section.contact .mat-form-field-outline {
      background-color: mat.get-color-from-palette($palette, 50);
      color: mat.get-color-from-palette($palette, '50-contrast');
    }

  }
}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);

  @if $color-config !=null {
    @include color($color-config);
  }
}