section.introduction {
  position: relative;
  display: flex;
  padding-bottom: 50px;
  padding-right: 125px;

  mat-card {
    .contact-button {
      position: absolute;
      height: 50px;
      width: 250px;
      right: -125px;
      bottom: -25px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

section.presentation {
  margin-right: -230px;
  margin-left: -230px;
  filter: drop-shadow(0px 1px 4px rgba(50, 50, 0, 0.5));

  .content {
    clip-path: polygon(0 25%, 100% 0, 100% 75%, 0 100%);
    padding: 10rem 230px;

    .horizontal {
      padding-top: 40px;
      display: flex;
      justify-content: space-around;

      mat-card {
        min-height: 100px;
        height: 100px;
        min-width: 100px;
        width: 100px;

        mat-card-content>img {
          height: 100%;
          width: 100%;
        }

        mat-card-footer {
          text-align: center;
        }
      }
    }
  }
}

section.team {
  .horizontal {
    display: flex;
    justify-content: space-around;

    &.top {
      padding-top: 40px
    }

    &.bottom {
      padding-top: 80px;
      padding-bottom: 80px;
    }

    .fake {
      width: 132px;
    }
  }

  mat-card {
    border-radius: 50%;
    min-height: 100px;
    max-height: 100px;
    min-width: 100px;
    max-width: 100px;

    mat-card-content {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        border-radius: 50%;
        height: calc(100% + 16px);
        width: calc(100% + 16px);
      }
    }

    mat-card-footer {
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}

section.contact {
  margin-top: 80px;
  display: flex;
  flex-flow: column;

  h1 {
    margin-bottom: 56px;
  }

  mat-form-field {
    align-self: center;
    width: 60%;
    min-width: 500px;
  }

  button {
    height: 50px;
    align-self: center;
    width: 20%;
    min-width: 200px;
  }
}