<section class="introduction">
    <mat-card>
        <mat-card-content>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis egestas dapibus nibh, ac vulputate eros
            dignissim ac. Sed interdum mauris vel arcu hendrerit, non auctor neque luctus. Suspendisse rhoncus ligula
            non
            purus hendrerit malesuada. Vivamus ac euismod urna. Maecenas vestibulum libero at quam sodales, non
            convallis
            ligula lobortis.
            Morbi et venenatis neque, imperdiet pellentesque ex. Donec laoreet rhoncus est at volutpat. Morbi
            tellus turpis, fringilla et mauris a, dictum commodo nisi. Curabitur ultricies aliquet ullamcorper. Aliquam
            non
            justo non nulla accumsan vestibulum semper vel mi.
            Pellentesque hendrerit eros vitae auctor eleifend. Proin consequat
            venenatis felis sit amet lobortis. Sed vel lorem quis libero sodales molestie. Quisque lacinia nisi tempus
            lacinia
            facilisis.
        </mat-card-content>
        <a class="contact-button" mat-raised-button href="#contact-form" color="accent">Nous
            contacter
        </a>
    </mat-card>

</section>

<section class="presentation">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis egestas dapibus nibh, ac vulputate eros
    dignissim ac. Sed interdum mauris vel arcu hendrerit, non auctor neque luctus. Suspendisse rhoncus ligula
    non
    purus hendrerit malesuada. Vivamus ac euismod urna. Maecenas vestibulum libero at quam sodales, non
    convallis
    ligula lobortis.
    Morbi et venenatis neque, imperdiet pellentesque ex. Donec laoreet rhoncus est at volutpat. Morbi
    tellus turpis, fringilla et mauris a, dictum commodo nisi. Curabitur ultricies aliquet ullamcorper. Aliquam
    non
    justo non nulla accumsan vestibulum semper vel mi.
    Pellentesque hendrerit eros vitae auctor eleifend. Proin consequat
    venenatis felis sit amet lobortis. Sed vel lorem quis libero sodales molestie. Quisque lacinia nisi tempus
    lacinia
    facilisis.
</section>



<section class="team">

</section>

<section id="contact-form" class="contact">

</section>