.mat-dialog-content {
  display: flex;
  flex-direction: column;

  .line {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
}

.mb-1 {
  margin-bottom: 1rem;
}

.mat-dialog-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  button {
    height: 50px;
    width: 140px;
  }

}