.information {

  display: flex;
  flex-flow: row;
  justify-content: flex-start;

  .profile-picture {
    height: 110px;
    width: 110px;
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(31, 30, 36, 0.2);
  }

  .information-wrapper {
    margin-left: 3rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
    gap: 3rem;

    ul {
      list-style-type: none;
      margin-top: 0;
      width: fit-content;
      padding-left: 0;

      li {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 10px;

        mat-icon {
          margin-right: 10px;
        }

      }
    }

  }
}

.details {
  margin-top: 3rem;
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: row;
  gap: 3rem;

  mat-card {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;

    mat-card-content {
      flex: 1;
    }

    mat-card-title>span {
      font-weight: lighter;
    }

    mat-card-actions {
      display: flex;
      justify-content: flex-end;
      padding: 0 1rem 1rem 0;
    }
  }
}