@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
  $primary-palette: map.get($theme, 'primary');
  $warn-palette: map.get($theme, 'warn');

  app-login-page {
    form {
      border: solid 2px mat.get-color-from-palette($primary-palette, 500);

      span.error-message {
        color: mat.get-color-from-palette($warn-palette, 500);
      }
    }
  }
}


@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);

  @if $color-config !=null {
    @include color($theme);
  }
}