@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
  $primary-palette: map.get($theme, 'primary');
  $accent-palette: map.get($theme, 'accent');

  app-dashboard-page {
    div.profile-icon-wrapper {
      border: solid 3px mat.get-color-from-palette($primary-palette, 500);
      color: mat.get-color-from-palette($primary-palette, 500);
    }
  }
}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);

  @if $color-config !=null {
    @include color($theme);
  }
}