<section class="profile mt-5 mr-5 ml-5 g-5 p-5 pb-0 d-flex flex-row" *ngIf="(auth$ | async) as authState">
    <div class="profile-icon-wrapper d-flex flex-column">
        <mat-icon fontIcon="person"></mat-icon>
    </div>
    <div class="profile-detail d-flex flex-column">
        <span class="mat-headline mb-2">{{authState.user?.first_name+' '+authState.user?.last_name}}
            <button color="primary" class="edit" mat-icon-button (click)="onEditProfile()">
                <mat-icon fontIcon="edit" title="Modifier le profil"></mat-icon>
            </button>
        </span>
        <span class="g-2 d-flex align-items-center mat-subheading-2 mb-1">
            <mat-icon fontIcon="tune"></mat-icon>
            {{(authState.user?.is_entity_staff)?'Gestionnaire':'Collaborateur'}}</span>
        <span class="g-2 d-flex align-items-center mat-subheading-2 mb-1">
            <mat-icon fontIcon="mail"></mat-icon>
            {{authState.user?.email}}
        </span>
        <span class="g-2 d-flex align-items-center mat-subheading-2 mb-1">
            <mat-icon fontIcon="phone"></mat-icon>
            {{authState.user?.phone}}
        </span>
    </div>
    <div class="entity-detail d-flex flex-column">
        <span class="mat-headline mb-2">{{authState.user?.entity?.name}}</span>
        <span class="g-2 d-flex align-items-center mat-subheading-2 mb-1" *ngIf="authState.user?.entity?.kind==2">
            <mat-icon fontIcon="tune"></mat-icon>
            Ecole
        </span>
        <span class="g-2 d-flex align-items-center mat-subheading-2 mb-1" *ngIf="authState.user?.entity?.kind==3">
            <mat-icon fontIcon="tune"></mat-icon>
            Entreprise
        </span>
        <span class="g-2 d-flex align-items-center mat-subheading-2 mb-1">
            <mat-icon fontIcon="info"></mat-icon>
            {{authState.user?.entity?.activity}}
        </span>
        <span class="g-2 d-flex align-items-center mat-subheading-2 mb-1">
            <mat-icon fontIcon="mail"></mat-icon>
            {{authState.user?.entity?.email}}
        </span>
        <span class="g-2 d-flex align-items-center mat-subheading-2 mb-1">
            <mat-icon fontIcon="phone"></mat-icon>
            {{authState.user?.entity?.phone}}
        </span>
        <span class="g-2 d-flex align-items-center mat-subheading-2 mb-1">
            <mat-icon fontIcon="location_on"></mat-icon>
            {{authState.user?.entity?.address+', '+authState.user?.entity?.zip_code+' '+authState.user?.entity?.city}}
        </span>
    </div>
</section>
<section class="projects ml-5 mr-5 mb-5 p-5 d-flex flex-column">
    <div class="d-flex flex-row g-3">
        <button mat-flat-button color="accent">Mes projets</button>
        <button mat-flat-button class="color-accent" disabled>Mon historique</button>
        <div class="flex-spacer"></div>
        <button *ngIf="(auth$ | async)?.user?.entity?.kind === 3" mat-flat-button color="primary"
            (click)="onCreateNewProject()">
            <mat-icon fontIcon="add"></mat-icon>
            Nouveau projet
        </button>
        <button *ngIf="(auth$ | async)?.user?.entity?.kind === 3" mat-flat-button color="primary"
            (click)="onManageAccess()" [matBadge]="countAccessRequest" matBadgeColor="accent"
            matTooltip="Gestion des accès" matBadgeSize="medium" matBadgeOverlap="true"
            [matBadgeHidden]="(countAccessRequest <1)?true:false">
            <mat-icon fontIcon="manage_accounts"></mat-icon>
            Accès
        </button>
    </div>
    <mat-divider></mat-divider>
    <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="projectName">
            <th class="pr-3 mat-subheading-2" mat-header-cell *matHeaderCellDef>Nom du projet</th>
            <td class="pr-3" mat-cell *matCellDef="let element">
                <a mat-button [routerLink]="['/project',element.projectId]" target="_blank" color="accent"
                    disableRipple="true">
                    {{element.projectName}}
                </a>
            </td>
        </ng-container>
        <ng-container matColumnDef="projectType">
            <th class="pr-3 mat-subheading-2" mat-header-cell *matHeaderCellDef>Type de projet</th>
            <td class="pr-3" mat-cell *matCellDef="let element"> {{element.projectType}} </td>
        </ng-container>
        <ng-container matColumnDef="entityName">
            <th class="pr-3 mat-subheading-2" mat-header-cell *matHeaderCellDef>Nom de l'entité</th>
            <td class="pr-3" mat-cell *matCellDef="let element"> {{element.entityName}} </td>
        </ng-container>
        <ng-container matColumnDef="entityEmail">
            <th class="pr-3 mat-subheading-2" mat-header-cell *matHeaderCellDef>Email de l'entité</th>
            <td class="pr-3" mat-cell *matCellDef="let element"> {{element.entityEmail}} </td>
        </ng-container>
        <ng-container matColumnDef="entityPhone">
            <th class="pr-3 mat-subheading-2" mat-header-cell *matHeaderCellDef>Téléphone de l'entité</th>
            <td class="pr-3" mat-cell *matCellDef="let element"> {{element.entityPhone}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; let even = even; columns: displayedColumns;"
            [class.background-color-primary-light]="even"></tr>
    </table>
</section>