<section class="profile mt-5 mr-5 ml-5 g-5 p-5 pb-0 d-flex flex-row" *ngIf="(auth$ | async) as authState">
    <div class="profile-icon-wrapper d-flex flex-column">
        <mat-icon fontIcon="person"></mat-icon>
    </div>
    <div class="profile-detail d-flex flex-column">
        <span class="mat-headline mb-2">{{authState.user?.first_name+' '+authState.user?.last_name}}
            <button color="accent" class="edit" mat-icon-button (click)="onEditProfile()">
                <mat-icon fontIcon="edit" title="Modifier le profil"></mat-icon>
            </button>
        </span>
        <span class="g-2 d-flex align-items-center mat-subheading-2 m-1">
            <mat-icon fontIcon="tune"></mat-icon>
            {{(authState.user?.is_entity_staff)?'Gestionaire':'Collaborateur'}}</span>
        <span class="g-2 d-flex align-items-center mat-subheading-2 m-1">
            <mat-icon fontIcon="mail"></mat-icon>
            {{authState.user?.email}}
        </span>
        <span class="g-2 d-flex align-items-center mat-subheading-2 m-1">
            <mat-icon fontIcon="phone"></mat-icon>
            {{authState.user?.phone}}
        </span>
    </div>
    <div class="entity-detail d-flex flex-column">
        <span class="mat-headline mb-2">{{authState.user?.entity?.name}}</span>
        <span class="g-2 d-flex align-items-center mat-subheading-2 m-1" *ngIf="authState.user?.entity?.kind==2">
            <mat-icon fontIcon="tune"></mat-icon>
            Ecole
        </span>
        <span class="g-2 d-flex align-items-center mat-subheading-2 m-1" *ngIf="authState.user?.entity?.kind==3">
            <mat-icon fontIcon="tune"></mat-icon>
            Entreprise
        </span>
        <span class="g-2 d-flex align-items-center mat-subheading-2 m-1">
            <mat-icon fontIcon="mail"></mat-icon>
            {{authState.user?.entity?.email}}
        </span>
        <span class="g-2 d-flex align-items-center mat-subheading-2 m-1">
            <mat-icon fontIcon="phone"></mat-icon>
            {{authState.user?.entity?.phone}}
        </span>
        <span class="g-2 d-flex align-items-center mat-subheading-2 m-1">
            <mat-icon fontIcon="location_on"></mat-icon>
            {{authState.user?.entity?.address+' '+authState.user?.entity?.zip_code+' '+authState.user?.entity?.city}}
        </span>
    </div>
</section>
<section class="projects ml-5 mr-5 mb-5 p-5 d-flex flex-column">
    <div class="d-flex flex-row align-items-center align-items-center mb-4 g-3">
        <h1 class="m-0">Mes projets</h1>
        <a mat-mini-fab routerLink="/project" class="new-project" color="accent" title="Nouveau projet">
            <mat-icon fontIcon="add"></mat-icon>
        </a>
    </div>
    <div class=" project-search-wrapper p-5 d-flex flex-row g-5">
        <app-project-card *ngFor=" let project of (projectsPrivate|async)" [title]="project.name"
            [subTitle]="projectKindToString(project.kind)" [projectId]="project.pk" [content]="project.description"
            [deadline]="project.deadline">
        </app-project-card>
        <!-- https://v14.material.angular.io/components/chips/examples -->
    </div>
</section>