section.profile {
  div.profile-icon-wrapper {
    height: 170px;
    width: 170px;

    mat-icon {
      height: 100%;
      width: 100%;
      font-size: 170px;
      line-height: 170px;
    }
  }

  div.profile-detail,
  div.entity-detail {
    span {
      white-space: nowrap;

    }
  }
}

section.projects {

  div.project-search-wrapper {
    flex-wrap: wrap;

    app-project-card {
      width: calc(100% / 4 - (42px * 3 / 4));
      // 100% / item-cout - (gap-size * gap-count / item-count) 
    }
  }
}