@use '@angular/material' as mat;
@use './theme/palettes.scss' as palette;
@use './theme/typography.scss' as typography;
@use './theme/themes.scss' as theme;

@use './theme/padding.scss' as padding;
@use './theme/margin.scss' as margin;
@use './theme/gap.scss' as gap;

@use'./app/fragments/navbar-fragment/navbar-fragment.component-theme' as navbar;
@use'./app/fragments/footer-fragment/footer-fragment.component-theme' as footer;

@use'./app/pages/home-page/home-page.component-theme' as home;
@use'./app/pages/login-page/login-page.component-theme' as login;

@import 'ngx-toastr/toastr';

// component

$primary-palette : mat.define-palette(palette.$primary-palette);
$accent-palette: mat.define-palette(palette.$accent-palette);
$warn-palette: mat.define-palette(palette.$warn-palette);
$success-palette: mat.define-palette(palette.$success-palette);
$grey-palette: mat.define-palette(palette.$grey-palette);

// https://v14.material.angular.io/guide/typography#using-typography-styles-in-your-application
$theme-typography: mat.define-typography-config($display-4: typography.$display-4-level,
    $display-3: typography.$display-3-level,
    $display-2: typography.$display-2-level,
    $display-1: typography.$display-1-level,
    $headline: typography.$headline-level,
    $title: typography.$title-level,
    $subheading-2: typography.$subheading-2-level,
    $subheading-1: typography.$subheading-1-level,
    $body-2: typography.$body-2-level,
    $body-1: typography.$body-1-level,
    $caption: typography.$caption-level,
    $button: typography.$button-level,
    $input: typography.$input-level,
  );

$light-theme: theme.define-light-theme($theme-typography, $primary-palette, $accent-palette, $warn-palette, $success-palette, $grey-palette);

@include mat.core($theme-typography);
@include mat.all-component-themes($light-theme);

@include navbar.theme($light-theme);
@include footer.theme($light-theme);

@include home.theme($light-theme);
@include login.theme($light-theme);

// style

$spacer : 14px;
$spacer-multiplicator-0 : 0;
$spacer-multiplicator-1 : .25;
$spacer-multiplicator-2 : .5;
$spacer-multiplicator-3 : 1;
$spacer-multiplicator-4 : 1.5;
$spacer-multiplicator-5 : 3;

@include padding.build($spacer, $spacer-multiplicator-0, $spacer-multiplicator-1,
  $spacer-multiplicator-2, $spacer-multiplicator-3, $spacer-multiplicator-4, $spacer-multiplicator-5);

@include gap.build($spacer, $spacer-multiplicator-0, $spacer-multiplicator-1,
  $spacer-multiplicator-2, $spacer-multiplicator-3, $spacer-multiplicator-4, $spacer-multiplicator-5);

@include margin.build($spacer, $spacer-multiplicator-0, $spacer-multiplicator-1,
  $spacer-multiplicator-2, $spacer-multiplicator-3, $spacer-multiplicator-4, $spacer-multiplicator-5);

// global

::selection {
  color: white;
  background: black;
}

html,
body,
app-root {
  display: block;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.d-block {
  display: block !important;
}

.d-flex {
  display: flex !important;
}

.flex-column {
  flex-direction: column !important;
}

.flex-row {
  flex-direction: row !important;
}

.flex-spacer {
  flex-grow: 1 !important;
}

.align-items-center {
  align-items: center !important;
}

.justify-content-center {
  justify-content: center !important;
}