<section class="informations p-5 m-5 mb-0 d-flex flex-row g-5">
    <div *ngFor="let entity of relations">
        <div class="author d-flex flex-column">
            <span class=" g-2 d-flex align-items-center mat-headline mb-2">{{entity.entity.name}}</span>
            <span class=" g-2 d-flex align-items-center mat-subheading-2 mb-1">
                <mat-icon fontIcon="tune"></mat-icon>
                {{
                (entity.entity.kind === 2)?'Ecole':
                (entity.entity.kind===3)?'Entreprise':''
                }}
            </span>
            <span class=" g-2 d-flex align-items-center mat-subheading-2 mb-1">
                <mat-icon fontIcon="mail"></mat-icon>
                {{entity.entity.email}}
            </span>
            <span class=" g-2 d-flex align-items-center mat-subheading-2 mb-1">
                <mat-icon fontIcon="phone"></mat-icon>
                {{entity.entity.phone}}
            </span>
            <span class=" g-2 d-flex align-items-center mat-subheading-2 mb-1">
                <mat-icon fontIcon="location_on"></mat-icon>
                {{entity.entity.address+' '+entity.entity.zip_code+' '+entity.entity.city}}
            </span>
        </div>
    </div>
</section>
<div class="ml-5 mr-5 pl-5 pr-5">
    <mat-divider></mat-divider>
</div>
<div class="d-flex flex-row p-5 m-5 mt-0 g-5">
    <section class="data d-flex flex-column">
        <div class="d-flex flex-row align-items-center mb-3 g-2">
            <h1 class="m-0">{{project?.name}}</h1>
            <button mat-icon-button color="accent" (click)="onEditInformation()">
                <mat-icon>edit</mat-icon>
            </button>
        </div>
        <h2>{{projectKindToString(project?.kind)}}</h2>
        <p class="description">{{project?.description}}</p>
        <div class="d-flex flex-row g-5 mb-5">
            <div class="d-flex flex-column">
                <h3 class="mb-0">Date de création : {{parseDate(project?.created_at)}}</h3>
                <h3 class="mb-0">Date de livraison : {{parseDate(project?.deadline)}}</h3>
            </div>
            <div class="d-flex flex-column">
                <h3 class="mb-0">Cloturé : {{(project?.is_closed)?'Oui':'Non'}}</h3>
                <h3 class="mb-0">Caché : {{(project?.is_hidden)?'Oui':'Non'}}</h3>
            </div>
        </div>
        <form>
            <div class="d-flex flex-row align-items-center mb-2 g-2">
                <h2 class="m-0">Notes</h2>
                <button mat-icon-button color="accent" (click)="note.disabled = false; note.focus()">
                    <mat-icon>edit</mat-icon>
                </button>
            </div>
            <mat-form-field appearance="outline">
                <textarea #note matInput disabled="true" (focusout)="note.disabled = true"
                    (input)="noteInput(note.value)">{{project?.note}}</textarea>
            </mat-form-field>
        </form>
    </section>
    <section class="chat">
        chat
    </section>
</div>