section.informations {}

section.data {
  min-width: 30%;
  max-width: 60%;

  p.description {
    max-height: 30vh;
    overflow-y: auto;
  }

  h1::first-letter,
  h2::first-letter {
    text-transform: capitalize;
  }

  h3 {
    display: list-item;
    list-style-position: inside;
  }

  mat-form-field {
    width: 100%;

    div.mat-form-field-flex {
      padding: 0 !important;
    }

    textarea {
      resize: none;
      height: 20vh;
    }

    textarea:disabled {
      color: rgba($color: #000000, $alpha: 0.7);
    }

    textarea:focus {
      border: none;
    }
  }
}

div.bottom {
  justify-content: space-between;
}

section.chat {
  width: 40%;
  height: 50vh;
}