<h1 mat-dialog-title>Gestion des demandes d'accès</h1>
<div mat-dialog-content>

    <mat-form-field appearance="standard">
        <mat-label>Filtrer</mat-label>
        <input matInput (keyup)="onFilter($event)" #input>
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="projectName">
            <th class="pr-3 mat-subheading-2" mat-header-cell *matHeaderCellDef mat-sort-header>Nom du projet</th>
            <td class="pr-3" mat-cell *matCellDef="let element">
                <a mat-button [routerLink]="['project',element.projectId]" target="_blank" color="accent"
                    disableRipple="true">
                    {{element.projectName}}
                </a>
            </td>
        </ng-container>

        <ng-container matColumnDef="projectType">
            <th class="pr-3 mat-subheading-2" mat-header-cell *matHeaderCellDef mat-sort-header>Type de projet</th>
            <td class="pr-3" mat-cell *matCellDef="let element"> {{element.projectType}} </td>
        </ng-container>

        <ng-container matColumnDef="entityName">
            <th class="pr-3 mat-subheading-2" mat-header-cell *matHeaderCellDef mat-sort-header>Nom de l'école</th>
            <td class="pr-3" mat-cell *matCellDef="let element"> {{element.entityName}} </td>
        </ng-container>

        <ng-container matColumnDef="relationDate">
            <th class="pr-3 mat-subheading-2" mat-header-cell *matHeaderCellDef mat-sort-header>Date de la demande</th>
            <td class="pr-3" mat-cell *matCellDef="let element"> {{element.relationDate}} </td>
        </ng-container>

        <ng-container matColumnDef="entityEmail">
            <th class="pr-3 mat-subheading-2" mat-header-cell *matHeaderCellDef>Email de l'école</th>
            <td class="pr-3" mat-cell *matCellDef="let element"> {{element.entityEmail}} </td>
        </ng-container>

        <ng-container matColumnDef="entityPhone">
            <th class="pr-3 mat-subheading-2" mat-header-cell *matHeaderCellDef>Téléphone de l'école</th>
            <td class="pr-3" mat-cell *matCellDef="let element"> {{element.entityPhone}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th class="pr-3 mat-subheading-2" mat-header-cell *matHeaderCellDef>Action</th>
            <td class="pr-3" mat-cell *matCellDef="let element" [ngStyle]="{width:'85px'}">
                <div class="accept" [ngStyle]="{float:'left'}">
                    <button mat-icon-button [ngStyle]="{color:'green'}"
                        (click)="onAcceptRelation(element.projectId, element.entityId)" matTooltip="accepter">
                        <mat-icon>done</mat-icon>
                    </button>
                </div>
                <div class="refuse" [ngStyle]="{float:'right'}"
                    (click)="onDeleteRelation(element.projectId, element.entityId)" matTooltip="refuser">
                    <button mat-icon-button color="warn">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
<div mat-dialog-actions class="d-flex flex-row justify-content-center">
    <button mat-flat-button class="border-1-primary color-primary" (click)="onClose()">Fermer</button>
</div>