$primary-palette: (
  50 : #ffece0,
  100 : #ffd0b3,
  200 : #ffb180,
  300 : #ff924d,
  400 : #ff7a26,
  500 : #ff6300,
  600 : #ff5b00,
  700 : #ff5100,
  800 : #ff4700,
  900 : #ff3500,
  A100 : #ffffff,
  A200 : #fff4f2,
  A400 : #ffc9bf,
  A700 : #ffb3a6,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #ff6300,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$accent-palette: (
  50 : #e0eeff,
  100 : #b3d5ff,
  200 : #80b9ff,
  300 : #4d9dff,
  400 : #2688ff,
  500 : #0073ff,
  600 : #006bff,
  700 : #0060ff,
  800 : #0056ff,
  900 : #0043ff,
  A100 : #ffffff,
  A200 : #f2f5ff,
  A400 : #bfccff,
  A700 : #a6b8ff,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$warn-palette: (
  50 : #ffe4e0,
  100 : #ffbdb3,
  200 : #ff9180,
  300 : #ff644d,
  400 : #ff4326,
  500 : #ff2200,
  600 : #ff1e00,
  700 : #ff1900,
  800 : #ff1400,
  900 : #ff0c00,
  A100 : #ffffff,
  A200 : #fff2f2,
  A400 : #ffc0bf,
  A700 : #ffa7a6,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$success-palette: (
  50 : #e0fff1,
  100 : #b3ffdd,
  200 : #80ffc6,
  300 : #4dffaf,
  400 : #26ff9d,
  500 : #00ff8c,
  600 : #00ff84,
  700 : #00ff79,
  800 : #00ff6f,
  900 : #00ff5c,
  A100 : #ffffff,
  A200 : #f2fff6,
  A400 : #bfffd2,
  A700 : #a6ffc0,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$grey-palette: (
  50: #fafafa,
  100: #f5f5f5,
  200: #eeeeee,
  300: #e0e0e0,
  400: #bdbdbd,
  500: #9e9e9e,
  600: #757575,
  700: #616161,
  800: #424242,
  900: #212121,
  A100: #ffffff,
  A200: #eeeeee,
  A400: #bdbdbd,
  A700: #616161,
  contrast: (50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff,
  )
);