@use '@angular/material' as mat;

$roboto: 'Roboto, "Helvetica Neue", sans-serif';
$limelight: 'Limelight, cursive';

// headline 1
$display-4-level: mat.define-typography-level($font-family: $limelight,
    $font-weight: 400,
    $font-size: 45px,
    $line-height: 48px,
    $letter-spacing: -0.005);

// headline 2
$display-3-level: mat.define-typography-level($font-family: $roboto,
    $font-weight: 500,
    $font-size: 34px,
    $line-height: 40px,
    $letter-spacing: normal);

// headline 3
$display-2-level: mat.define-typography-level($font-family: $roboto,
    $font-weight: 400,
    $font-size: 34px,
    $line-height: 40px,
    $letter-spacing: normal);

// headline 4
$display-1-level: mat.define-typography-level($font-family: $roboto,
    $font-weight: 400,
    $font-size: 30px,
    $line-height: 37px,
    $letter-spacing: normal);

// heading 1
$headline-level: mat.define-typography-level($font-family: $roboto,
    $font-weight: 500,
    $font-size: 24px,
    $line-height: 32px,
    $letter-spacing: normal);

// heading 2
$title-level: mat.define-typography-level($font-family: $roboto,
    $font-weight: 400,
    $font-size: 20px,
    $line-height: 32px,
    $letter-spacing: normal);

// heading 3
$subheading-2-level: mat.define-typography-level($font-family: $roboto,
    $font-weight: 400,
    $font-size: 18px,
    $line-height: 30px,
    $letter-spacing: normal);

// heading 4
$subheading-1-level: mat.define-typography-level($font-family: $roboto,
    $font-weight: 400,
    $font-size: 17px,
    $line-height: 26px,
    $letter-spacing: normal);

$body-2-level: mat.define-typography-level($font-family: $roboto,
    $font-weight: 500,
    $font-size: 16px,
    $line-height: 26px,
    $letter-spacing: normal);

$body-1-level: mat.define-typography-level($font-family: $roboto,
    $font-weight: 400,
    $font-size: 16px,
    $line-height: 22px,
    $letter-spacing: normal);

$caption-level: mat.define-typography-level($font-family: $roboto,
    $font-weight: 400,
    $font-size: 14px,
    $line-height: 22px,
    $letter-spacing: normal);

$button-level: mat.define-typography-level($font-family: $roboto,
    $font-weight: 500,
    $font-size: 16px,
    $line-height: 18px,
    $letter-spacing: normal);

$input-level: mat.define-typography-level($font-family: $roboto,
    $font-weight: 400,
    $font-size: inherit,
    $line-height: 1.125,
    $letter-spacing: normal);