nav {
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 8px 16px;

  .flex-spacer {
    flex-grow: 1;
  }

  .logo-link {
    height: 100%;
    width: 130px;
    background: no-repeat center center url("../../../assets/images/logo_white.svg");
    background-size: 140%;
  }
}