<nav>
    <a class="logo-link" routerLink="/"></a>
    <div class="flex-spacer"></div>
    <div *ngIf="!(auth$ | async)?.isLoggedIn; else loggedIn">
        <button mat-stroked-button (click)="onOpenSignInDialog()">
            <div class="d-flex align-items-center">
                <mat-icon fontIcon="login"></mat-icon><span>&nbsp;Se connecter</span>
            </div>
        </button>
    </div>
    <ng-template #loggedIn>
        <button mat-stroked-button [matMenuTriggerFor]="loggedInNavbarMenu">
            <div class="d-flex align-items-center">
                <span>{{ (auth$ | async)?.profile?.email }}</span>
            </div>
        </button>
        <mat-menu #loggedInNavbarMenu="matMenu" yPosition="below" xPosition="before">
            <a mat-menu-item routerLink="/settings">
                <mat-icon fontIcon="settings"></mat-icon><span>Paramètres</span>
            </a>
            <a mat-menu-item routerLink="/dashboard">
                <mat-icon fontIcon="space_dashboard"></mat-icon><span>Tableau de bord</span>
            </a>
            <button mat-menu-item (click)="onLogout()">
                <mat-icon fontIcon="logout"></mat-icon><span>Se déconnecter</span>
            </button>
        </mat-menu>
    </ng-template>

</nav>